<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tyj.jhpt.dao.DeviceGpsInfosErrorMapper">
  <resultMap id="BaseResultMap" type="com.tyj.jhpt.bo.DeviceGpsInfosError">
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="device_id" property="deviceId" jdbcType="INTEGER" />
    <result column="msg_id" property="msgId" jdbcType="INTEGER" />
    <result column="event_time" property="eventTime" jdbcType="TIMESTAMP" />
    <result column="longitude" property="longitude" jdbcType="DOUBLE" />
    <result column="latitude" property="latitude" jdbcType="DOUBLE" />
    <result column="speed" property="speed" jdbcType="TINYINT" />
    <result column="msg_type" property="msgType" jdbcType="TINYINT" />
    <result column="flash_state" property="flashState" jdbcType="TINYINT" />
    <result column="upload_time" property="uploadTime" jdbcType="TIMESTAMP" />
    <result column="acceleration" property="acceleration" jdbcType="REAL" />
  </resultMap>
  <sql id="Base_Column_List">
    `id`, `device_id`, `msg_id`, `event_time`, `longitude`, `latitude`, `speed`, `msg_type`, `flash_state`, `upload_time`, `acceleration`
  </sql>
  <insert id="insert" parameterType="com.tyj.jhpt.bo.DeviceGpsInfosError" useGeneratedKeys="true" keyProperty="id">
    <![CDATA[
    insert into `device_gps_infos_error` (`device_id`, `msg_id`, `event_time`, 
      `longitude`, `latitude`, `speed`, 
      `msg_type`, `flash_state`, `upload_time`, 
      `acceleration`)
    values (#{deviceId,jdbcType=INTEGER}, #{msgId,jdbcType=INTEGER}, #{eventTime,jdbcType=TIMESTAMP}, 
      #{longitude,jdbcType=DOUBLE}, #{latitude,jdbcType=DOUBLE}, #{speed,jdbcType=TINYINT}, 
      #{msgType,jdbcType=TINYINT}, #{flashState,jdbcType=TINYINT}, #{uploadTime,jdbcType=TIMESTAMP}, 
      #{acceleration,jdbcType=REAL})
    ]]>
  </insert>
  <insert id="insertBatch" parameterType="java.util.List">
    insert into `device_gps_infos_error` (`device_id`, `msg_id`, `event_time`, 
      `longitude`, `latitude`, `speed`, 
      `msg_type`, `flash_state`, `upload_time`, 
      `acceleration`)
     values 
    <foreach collection="list" item="item" index="index" separator=",">
       (#{item.deviceId,jdbcType=INTEGER}, #{item.msgId,jdbcType=INTEGER}, #{item.eventTime,jdbcType=TIMESTAMP}, 
        #{item.longitude,jdbcType=DOUBLE}, #{item.latitude,jdbcType=DOUBLE}, #{item.speed,jdbcType=TINYINT}, 
        #{item.msgType,jdbcType=TINYINT}, #{item.flashState,jdbcType=TINYINT}, #{item.uploadTime,jdbcType=TIMESTAMP}, 
        #{item.acceleration,jdbcType=REAL})
    </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.tyj.jhpt.bo.DeviceGpsInfosError" useGeneratedKeys="true" keyProperty="id">
    insert into `device_gps_infos_error`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="deviceId != null">
        `device_id`,
      </if>
      <if test="msgId != null">
        `msg_id`,
      </if>
      <if test="eventTime != null">
        `event_time`,
      </if>
      <if test="longitude != null">
        `longitude`,
      </if>
      <if test="latitude != null">
        `latitude`,
      </if>
      <if test="speed != null">
        `speed`,
      </if>
      <if test="msgType != null">
        `msg_type`,
      </if>
      <if test="flashState != null">
        `flash_state`,
      </if>
      <if test="uploadTime != null">
        `upload_time`,
      </if>
      <if test="acceleration != null">
        `acceleration`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="deviceId != null">
        #{deviceId,jdbcType=INTEGER},
      </if>
      <if test="msgId != null">
        #{msgId,jdbcType=INTEGER},
      </if>
      <if test="eventTime != null">
        #{eventTime,jdbcType=TIMESTAMP},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="speed != null">
        #{speed,jdbcType=TINYINT},
      </if>
      <if test="msgType != null">
        #{msgType,jdbcType=TINYINT},
      </if>
      <if test="flashState != null">
        #{flashState,jdbcType=TINYINT},
      </if>
      <if test="uploadTime != null">
        #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="acceleration != null">
        #{acceleration,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from `device_gps_infos_error`
    where `id` = #{id,jdbcType=INTEGER}
  </delete>
  <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `device_gps_infos_error`
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `device_gps_infos_error`
    where `id` = #{id,jdbcType=INTEGER}
  </select>
  <select id="count" resultType="java.lang.Integer">
    select count(*) from `device_gps_infos_error`
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.tyj.jhpt.bo.DeviceGpsInfosError">
    update `device_gps_infos_error`
    <set>
      <if test="deviceId != null">
        `device_id` = #{deviceId,jdbcType=INTEGER},
      </if>
      <if test="msgId != null">
        `msg_id` = #{msgId,jdbcType=INTEGER},
      </if>
      <if test="eventTime != null">
        `event_time` = #{eventTime,jdbcType=TIMESTAMP},
      </if>
      <if test="longitude != null">
        `longitude` = #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null">
        `latitude` = #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="speed != null">
        `speed` = #{speed,jdbcType=TINYINT},
      </if>
      <if test="msgType != null">
        `msg_type` = #{msgType,jdbcType=TINYINT},
      </if>
      <if test="flashState != null">
        `flash_state` = #{flashState,jdbcType=TINYINT},
      </if>
      <if test="uploadTime != null">
        `upload_time` = #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="acceleration != null">
        `acceleration` = #{acceleration,jdbcType=REAL},
      </if>
    </set>
    where `id` = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tyj.jhpt.bo.DeviceGpsInfosError">
    update `device_gps_infos_error`
    set `device_id` = #{deviceId,jdbcType=INTEGER},
      `msg_id` = #{msgId,jdbcType=INTEGER},
      `event_time` = #{eventTime,jdbcType=TIMESTAMP},
      `longitude` = #{longitude,jdbcType=DOUBLE},
      `latitude` = #{latitude,jdbcType=DOUBLE},
      `speed` = #{speed,jdbcType=TINYINT},
      `msg_type` = #{msgType,jdbcType=TINYINT},
      `flash_state` = #{flashState,jdbcType=TINYINT},
      `upload_time` = #{uploadTime,jdbcType=TIMESTAMP},
      `acceleration` = #{acceleration,jdbcType=REAL}
    where `id` = #{id,jdbcType=INTEGER}
  </update>
</mapper>