<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tyj.jhpt.dao.TradeInfosMapper">
  <resultMap id="BaseResultMap" type="com.tyj.jhpt.bo.TradeInfos">
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="device_id" property="deviceId" jdbcType="INTEGER" />
    <result column="accountant_id" property="accountantId" jdbcType="INTEGER" />
    <result column="accountant_confirm_time" property="accountantConfirmTime" jdbcType="TIMESTAMP" />
    <result column="activator_id" property="activatorId" jdbcType="INTEGER" />
    <result column="activator_confirm_time" property="activatorConfirmTime" jdbcType="TIMESTAMP" />
    <result column="activate_type" property="activateType" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="outofdate_time" property="outofdateTime" jdbcType="TIMESTAMP" />
    <result column="activate" property="activate" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List">
    `id`, `device_id`, `accountant_id`, `accountant_confirm_time`, `activator_id`, `activator_confirm_time`, `activate_type`, 
    `create_time`, `outofdate_time`, `activate`
  </sql>
  <insert id="insert" parameterType="com.tyj.jhpt.bo.TradeInfos" useGeneratedKeys="true" keyProperty="id">
    <![CDATA[
    insert into `trade_infos` (`device_id`, `accountant_id`, `accountant_confirm_time`, 
      `activator_id`, `activator_confirm_time`, `activate_type`, 
      `create_time`, `outofdate_time`, `activate`
      )
    values (#{deviceId,jdbcType=INTEGER}, #{accountantId,jdbcType=INTEGER}, #{accountantConfirmTime,jdbcType=TIMESTAMP}, 
      #{activatorId,jdbcType=INTEGER}, #{activatorConfirmTime,jdbcType=TIMESTAMP}, #{activateType,jdbcType=TINYINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{outofdateTime,jdbcType=TIMESTAMP}, #{activate,jdbcType=INTEGER}
      )
    ]]>
  </insert>
  <insert id="insertBatch" parameterType="java.util.List">
    insert into `trade_infos` (`device_id`, `accountant_id`, `accountant_confirm_time`, 
      `activator_id`, `activator_confirm_time`, 
      `activate_type`, `create_time`, `outofdate_time`, 
      `activate`)
     values 
    <foreach collection="list" item="item" index="index" separator=",">
       (#{item.deviceId,jdbcType=INTEGER}, #{item.accountantId,jdbcType=INTEGER}, #{item.accountantConfirmTime,jdbcType=TIMESTAMP}, 
        #{item.activatorId,jdbcType=INTEGER}, #{item.activatorConfirmTime,jdbcType=TIMESTAMP}, 
        #{item.activateType,jdbcType=TINYINT}, #{item.createTime,jdbcType=TIMESTAMP}, #{item.outofdateTime,jdbcType=TIMESTAMP}, 
        #{item.activate,jdbcType=INTEGER})
    </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.tyj.jhpt.bo.TradeInfos" useGeneratedKeys="true" keyProperty="id">
    insert into `trade_infos`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="deviceId != null">
        `device_id`,
      </if>
      <if test="accountantId != null">
        `accountant_id`,
      </if>
      <if test="accountantConfirmTime != null">
        `accountant_confirm_time`,
      </if>
      <if test="activatorId != null">
        `activator_id`,
      </if>
      <if test="activatorConfirmTime != null">
        `activator_confirm_time`,
      </if>
      <if test="activateType != null">
        `activate_type`,
      </if>
      <if test="createTime != null">
        `create_time`,
      </if>
      <if test="outofdateTime != null">
        `outofdate_time`,
      </if>
      <if test="activate != null">
        `activate`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="deviceId != null">
        #{deviceId,jdbcType=INTEGER},
      </if>
      <if test="accountantId != null">
        #{accountantId,jdbcType=INTEGER},
      </if>
      <if test="accountantConfirmTime != null">
        #{accountantConfirmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="activatorId != null">
        #{activatorId,jdbcType=INTEGER},
      </if>
      <if test="activatorConfirmTime != null">
        #{activatorConfirmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="activateType != null">
        #{activateType,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="outofdateTime != null">
        #{outofdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="activate != null">
        #{activate,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from `trade_infos`
    where `id` = #{id,jdbcType=INTEGER}
  </delete>
  <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `trade_infos`
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `trade_infos`
    where `id` = #{id,jdbcType=INTEGER}
  </select>
  <select id="count" resultType="java.lang.Integer">
    select count(*) from `trade_infos`
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.tyj.jhpt.bo.TradeInfos">
    update `trade_infos`
    <set>
      <if test="deviceId != null">
        `device_id` = #{deviceId,jdbcType=INTEGER},
      </if>
      <if test="accountantId != null">
        `accountant_id` = #{accountantId,jdbcType=INTEGER},
      </if>
      <if test="accountantConfirmTime != null">
        `accountant_confirm_time` = #{accountantConfirmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="activatorId != null">
        `activator_id` = #{activatorId,jdbcType=INTEGER},
      </if>
      <if test="activatorConfirmTime != null">
        `activator_confirm_time` = #{activatorConfirmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="activateType != null">
        `activate_type` = #{activateType,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        `create_time` = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="outofdateTime != null">
        `outofdate_time` = #{outofdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="activate != null">
        `activate` = #{activate,jdbcType=INTEGER},
      </if>
    </set>
    where `id` = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tyj.jhpt.bo.TradeInfos">
    update `trade_infos`
    set `device_id` = #{deviceId,jdbcType=INTEGER},
      `accountant_id` = #{accountantId,jdbcType=INTEGER},
      `accountant_confirm_time` = #{accountantConfirmTime,jdbcType=TIMESTAMP},
      `activator_id` = #{activatorId,jdbcType=INTEGER},
      `activator_confirm_time` = #{activatorConfirmTime,jdbcType=TIMESTAMP},
      `activate_type` = #{activateType,jdbcType=TINYINT},
      `create_time` = #{createTime,jdbcType=TIMESTAMP},
      `outofdate_time` = #{outofdateTime,jdbcType=TIMESTAMP},
      `activate` = #{activate,jdbcType=INTEGER}
    where `id` = #{id,jdbcType=INTEGER}
  </update>
</mapper>