<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tyj.jhpt.dao.DeviceInfoMapper">
    <resultMap id="CustomerResultMap" type="com.tyj.jhpt.dto.CustomerDto">
        <result column="device_id" property="deviceId" jdbcType="INTEGER" />
        <result column="di_name" property="deviceInfoName" jdbcType="VARCHAR" />
        <result column="driving_license" property="drivingLicense" jdbcType="TINYINT" />
        <result column="plate_no" property="plateNo" jdbcType="VARCHAR" />
        <result column="phone_of_device" property="phoneOfDevice" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="outofdate_time" property="outofdateTime" jdbcType="TIMESTAMP" />
        <result column="r_name" property="roleName" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Select_Customer_List">
        select
            a.`device_id`,
            a.`name` `di_name`,
            a.`driving_license`,
            a.`plate_no`,
            a.`phone_of_device`,
            a.`create_time`,
            a.`outofdate_time`,
            b.`name` `r_name`
        from `device_info` a
        left join `roles` b on a.`recorder_id` = b.`id`
    </sql>
    <select id="findPageDeviceInfo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from `device_info`
        <where>
            outofdate_time
            <choose>
                <when test="type != null and type == 1">
                    <![CDATA[ <= ]]>
                </when>
                <otherwise>
                    <![CDATA[ > ]]>
                </otherwise>
            </choose>
            create_time
            <if test="keyword != null and keyword != ''">
                and (`name` like CONCAT('%', #{keyword}, '%')
                or `plate_no` like CONCAT('%', #{keyword}, '%')
                or `weixin_account` like CONCAT('%', #{keyword}, '%'))
            </if>
        </where>
    </select>
    <select id="findPageCustomerList" resultMap="CustomerResultMap">
        <include refid="Select_Customer_List" />
        <where>
            <if test="keyword != null and keyword != ''">
                or a.`name` like CONCAT('%', #{keyword}, '%')
                or a.`plate_no` like CONCAT('%', #{keyword}, '%')
                or a.`weixin_account` like CONCAT('%', #{keyword}, '%')
            </if>
        </where>
    </select>
</mapper>