<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tyj.jhpt.dao.TradeInfosMapper">
    <resultMap id="PayRecordResultMap" type="com.tyj.jhpt.dto.PayRecordDto">
        <result column="device_id" property="deviceId" jdbcType="INTEGER" />
        <result column="di_name" property="deviceInfoName" jdbcType="VARCHAR" />
        <result column="driving_license" property="drivingLicense" jdbcType="TINYINT" />
        <result column="plate_no" property="plateNo" jdbcType="VARCHAR" />
        <result column="phone_of_device" property="phoneOfDevice" jdbcType="VARCHAR" />
        <result column="weixin_account" property="weixinAccount" jdbcType="VARCHAR" />
        <result column="car_type" property="carType" jdbcType="TINYINT" />
        <result column="di_outofdate_time" property="diOutofdateTime" jdbcType="TIMESTAMP" />
        <result column="r_name" property="roleName" jdbcType="VARCHAR" />
        <result column="accountant_confirm_time" property="accountantConfirmTime" jdbcType="TIMESTAMP" />
        <result column="outofdate_time" property="outofdateTime" jdbcType="TIMESTAMP" />
        <result column="activate_type" property="activateType" jdbcType="TINYINT" />
        <result column="activate" property="activate" jdbcType="INTEGER" />
    </resultMap>
    <select id="findPagePayRecord" resultMap="PayRecordResultMap">
        select
            b.`device_id`,
            b.`name` `di_name`,
            b.`driving_license`,
            b.`plate_no`,
            b.`phone_of_device`,
            b.`weixin_account`,
            b.`car_type`,
            b.`outofdate_time` di_outofdate_time,
            c.`name` `r_name`,
            a.`accountant_confirm_time`,
            a.`outofdate_time`,
            a.`activate_type`,
            a.activate
        from device_info b
        left join `trade_infos` a on a.device_id = b.device_id
        left join roles c on a.accountant_id = c.id
        <where>
            <choose>
                <when test="activate != null and activate == 0">
                    a.activate = 0
                </when>
                <when test="activate != null and activate == 1">
                    a.activate = 1
                </when>
            </choose>
            <if test="outofdateTime != null">
                and a.outofdate_time > #{outofdateTime}
            </if>
            <if test="keyword != null and keyword != ''">
                and (b.`name` like CONCAT('%', #{keyword}, '%')
                or b.`plate_no` like CONCAT('%', #{keyword}, '%')
                or b.`weixin_account` like CONCAT('%', #{keyword}, '%'))
            </if>
        </where>
        order by a.id desc
    </select>
    <resultMap id="HisRecordResultMap" type="com.tyj.jhpt.dto.PayRecordDto">
        <result column="r_name" property="roleName" jdbcType="VARCHAR" />
        <result column="accountant_confirm_time" property="accountantConfirmTime" jdbcType="TIMESTAMP" />
        <result column="outofdate_time" property="outofdateTime" jdbcType="TIMESTAMP" />
        <result column="activate_type" property="activateType" jdbcType="TINYINT" />
        <result column="activate" property="activate" jdbcType="INTEGER" />
    </resultMap>
    <select id="findPageHisRecord" resultMap="HisRecordResultMap">
        SELECT
            a.`accountant_confirm_time`,
            b.real_name r_name,
            a.`activate_type`,
            a.`outofdate_time`,
            a.activate
        FROM
        trade_infos a
        LEFT JOIN user_infos b
        ON a.accountant_id = b.id
        <where>
            <if test="deviceId != null">
                and a.device_id = #{deviceId}
            </if>
        </where>
    </select>
    <update id="updateDeviceSuccess">
        update trade_infos set activate = 1 where activate = 0 and device_id = #{deviceId}
    </update>
</mapper>